.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 34px;
    display: none;
}
.fas {
	margin:5px;
	cursor: pointer;
}
.deleted {
	background-color: #ffaaaa;
}